<button [routerLink]="'/' + RouteValues.Sale.New" class="mb-3 align-self-end" mat-raised-button color="primary" >New Sale</button>


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade">
    <mat-progress-bar [mode]="isLoadingResults? 'indeterminate' : 'determinate'" value="100"></mat-progress-bar>
  </div>

  <div class="example-table-container" >
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Id
        </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="id-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Id filter</mat-label>
            <input [formControl]="formControls.id" matInput type="number" class="d-flex">
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="id-second-filter">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <ng-container matColumnDef="customerFirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          First name
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{row.id}}">{{row.customerFirstName}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerFirstName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>First name filter</mat-label>
            <input [formControl]="formControls.customerFirstName" matInput class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="customerFirstName-second-filter">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <ng-container matColumnDef="customerLastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Last Name
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{row.id}}">{{row.customerLastName}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerLastName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Last name filter</mat-label>
            <input [formControl]="formControls.customerLastName" matInput class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="customerLastName-second-filter">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Product Name
        </th>
        <td mat-cell *matCellDef="let row"><a >{{row.productName}}</a></td>
      </ng-container>

      <ng-container matColumnDef="productName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Product name filter</mat-label>
            <input [formControl]="formControls.productName" matInput class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="productName-second-filter">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Amount
        </th>
        <td mat-cell *matCellDef="let row"><a >{{row.amount}}</a></td>
      </ng-container>

      <ng-container matColumnDef="amountMin-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Amount Min</mat-label>
            <input [formControl]="formControls.amountMin" matInput type="number" class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="amountMax-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Amount max</mat-label>
            <input [formControl]="formControls.amountMax" matInput type="number" class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="income">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Income
        </th>
        <td mat-cell *matCellDef="let row"><a >{{row.income | currency}}</a></td>
      </ng-container>

      <ng-container matColumnDef="incomeMin-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Income min</mat-label>
            <input [formControl]="formControls.incomeMin" matInput type="number" class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="incomeMax-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Income max</mat-label>
            <input [formControl]="formControls.incomeMax" matInput type="number" class="d-flex">
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Date
        </th>
        <td mat-cell *matCellDef="let row"><a >{{row.dateTime | date}}</a></td>
      </ng-container>

      <ng-container matColumnDef="dateTimeMin-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="fill">
            <mat-label>After date</mat-label>
            <input [formControl]="formControls.dateTimeMin" [matDatepicker]="picker" matInput>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="dateTimeMax-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="fill">
            <mat-label>Before date</mat-label>
            <input [formControl]="formControls.dateTimeMax" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Delete
        </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="delete(row.id)" class=" align-self-end bg-danger" mat-raised-button color="primary" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Delete
        </th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="{{'/' + RouteValues.Sale.Edit + '/' + row.id}}" class=" bg-white" mat-raised-button color="primary" >
            <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon ">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnFirstFilters"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnSecondFilters"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
