table {
  width: 100%;
}

td {
  a{
    text-decoration: none;
    color:blue;
  }
}

.example-card {
  height: 200px;
}

.product-image{

  margin-left: auto;
  margin-right: auto;
}

.mat-card{
  height: 350px;
}

.mat-card-header{
  height: 80px;
}

.mat-card-content{
  height: 180px;
}
