<button [routerLink]="'/' + RouteValues.Product.New" class="mb-3 align-self-end" mat-raised-button color="primary" >New Product</button>

<div class="example-container mat-elevation-z8" >

  <div class="example-loading-shade">
    <mat-progress-bar [mode]="isLoadingResults? 'indeterminate' : 'determinate'" value="100"></mat-progress-bar>
  </div>

  <div class="example-table-container" #someVar>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 15, 25, 50]"></mat-paginator>

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="id"
           matSortDisableClear
           matSortDirection="asc">

      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Id
        </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="id-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Id Filter</mat-label>
            <input matInput class="d-flex" [formControl]="formControls.id" >
          </mat-form-field>
        </th>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Name
        </th>
        <td mat-cell *matCellDef="let row">
          <a href="{{RouteValues.Product.Edit + '/' + row.id}}">{{row.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field >
            <mat-label>Product Filter</mat-label>
            <input [formControl]="formControls.productName" matInput  class="d-flex" >
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Category
        </th>
        <td mat-cell *matCellDef="let row"><a (click)="setCategoryName(row.category.name)">{{row.category.name}}</a></td>
      </ng-container>

      <ng-container matColumnDef="category-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="example-full-width">
            <mat-label>Category Filter</mat-label>
            <input type="text"
                   placeholder="Category Filter"
                   aria-label="Number"
                   matInput
                   [matAutocomplete]="auto"
                   class="d-flex"
                   [formControl]="formControls.categoryName"
            >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="categoryDisplayName" (optionSelected)="categorySelected($event)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>
    </table>
  </div>

  <div class="row justify-content-center mt-2">
    <mat-card  *ngFor="let product of data" class="col-2 ms-1 me-1 mt-4">

      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>Product No: {{product.id}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="d-flex">
        <img [src]="product.imageUrl" class="product-image">
      </mat-card-content>

      <mat-card-actions class="justify-content-center d-flex" >
        <a mat-button class="btn-warning" routerLink="{{'/' + RouteValues.Product.Edit + '/' + product.id}}">EDIT</a>
        <button mat-button class="btn-danger" (click)="delete(product.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
